#logo{
    width: 50px;
}

#section-one{
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}