#logo{
    width: 50px;
}

#section-one{
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.links{
    display: flex;
    gap: 24px;
}